/*For banner */
.banner {
    background: #2C3333;
    height: 50px;
  }
  
  .banner_content {
      color: #E7F6F2;
      padding: 10px;
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      font-size: 25;
      flex-grow: 1;
      font-family: 'Quicksand', sans-serif ;
  }

  
  .banner_content2 {
    color: #E7F6F2;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif ;
}
  
  /*For navigation bar */
.topnav {
    background-color: #395B64;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif ;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #FF9551;
    color: white;
  }

/* For visualization-1 */

#visual1{
    padding: 0px 10px;
    height: 710px;
    align-items: center ;
    margin-top: 5px;
    background-color: #000000;
    background: rgba(227, 227, 227, 0.85);
  }

#visual1 h2{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif ;
  text-align: center;
  color: #2C3333;
}


#textColumn{
  height: 710px;
  background-color: #c1c1c1;
  opacity: 0.85;
  align-items: center ;
}


.arrows {
	width: 58px;
	height: 62px;
    display: block; margin: auto;
	bottom: 10px;
}

.arrows path {
	stroke: #0197ae;
	fill: transparent;
	stroke-width: 1px;	

}
/* For visualization-2 */

#visual2{
    padding: 0px 10px;
    height: 810px;
    align-items: center ;
    margin-top: 10px;
    background: rgba(227, 227, 227, 0.85);
  }

  #visual2 h2{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif ;
    text-align: center;
    color: #2C3333;
  }

  #leftside{
    height: 810px;
    align-items: center ;
  }

  #rightside{
    height: 810px;
    align-items: center ;
  }


/* For page 2 */
  #moreinfo{
    padding: 10px 10px;
    height: 1570px;
    align-items: center ;
    margin-top: 10px;
    background-color: #A5C9CA;
    background: rgba(227, 227, 227, 0.85);
  }

  #moreinfo h2{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif ;
    text-align: center;
    color: #2C3333;
  }
  
  #moreinfo p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif ;
    text-align: left;
    color: #2C3333;
  }
  #moreinfo ol{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif ;
    text-align: left;
    color: #2C3333;
  }

  #moreinfo ul{
    list-style-type: square;
  }